[submodule "submodule_name"]git add .gitmodules
    path = submodule_path
    url = https://github.com/Levileb/ShopLif-User.git
[submodule "submodule_path"]
	url = https://github.com/Levileb/ShopLif-User/actions/runs/7256969798/job/19770049559
