[submodule ".Levileb/ShopLif-User"]
    path = submodule_path
    url = https://github.com/Levileb/ShopLif-User/actions/runs/7256969798/job/19770049559
[submodule ".Levileb/ShopLif-User"]
	url = https://github.com/Levileb/ShopLif-User/actions/runs/7256969798/job/19770049559
